<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Fête de la science !</title>
    <link href="/assets/style/bootstrap.css" rel="stylesheet">
    <link href="/assets/style/styleCarousel.css" rel="stylesheet">
</head>

<body>

    <div>
        <img class="imgFondPCC" src="/assets/pictures/plusCourtChemin/fondCarrouselPCC.jpg" alt="Le fond...">
    </div>

    <div id="myCarousel" class="carousel slide styleCarousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h1 class="titrePCC">Problème du sac à dos</h1>
                <img class="imgAstronauteLecture" src="/assets/pictures/plusCourtChemin/astronauteLecture.png"
                     alt="Ho il lit !">
                <h2>Explication Algorithme</h2>
                <p class="paragraphes">Lorem</p>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-4">
                        <img class="imgMaps" src="/assets/pictures/plusCourtChemin/mapsPCC.png" alt="Cool un bowling !">
                    </div>
                    <div class="col-8">
                        <h2>Utilisations de l'algorithme</h2>
                        <p class="paragraphes">Lorem</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <h2>Règles :</h2>
                <p class="paragraphes">Lorem</p>
                <img src="/assets/pictures/plusCourtChemin/astronaut.gif" alt="Ho il bouge">
            </div>
            <div class="carousel-item">
                <img class="imgAstronauteFusee" src="/assets/pictures/plusCourtChemin/astronauteFusee.png"
                     alt="Ho il vole !">
                <h2>C'est parti !</h2>
                <form action="" method="post">
                    <label for="nom">Entrez votre nom</label>
                    <input type="text" name="nom">
                    <br>
                    <label for="age">Entrez votre âge</label>
                    <input type="text" name="age">
                    <input type="hidden" name="time">
                    <SELECT name="difficulte" size="1">
                        <OPTION>Facile</OPTION>
                        <OPTION>Moyen</OPTION>
                        <OPTION>Difficile</OPTION>
                    </SELECT>
                    <button class="boutonJouer">Jouer</button>
                </form>
            </div>
        </div>
        <img class="carousel-control-prev imgBouton boutonGauche" data-bs-target="#myCarousel" data-bs-slide="prev"
             src="/assets/pictures/plusCourtChemin/boutonGauche.png" alt="Bouton gauche !">
        <img class="carousel-control-next imgBouton boutonDroite" data-bs-target="#myCarousel" data-bs-slide="next"
             src="/assets/pictures/plusCourtChemin/boutonDroite.png" alt="Bouton droit !">
    </div>

<script src="/assets/js/bootstrap.js"></script>

</body>
</html>