        </div>
    </div>

    <div class="footerAccueilAll">
        <div class="footerAccueil">
            <div class="container">
                <div class="container-fluid">
                    <p class="paragrapheFooterAccueil">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eaque nulla optio. Architecto consequatur dolor doloribus dolorum earum eius explicabo omnis velit. Cupiditate ducimus et inventore numquam! Ab distinctio et, fuga modi nisi voluptates. Dicta eos excepturi itaque suscipit tempore? Beatae, dolorum laboriosam maxime neque repudiandae vitae. Culpa, delectus, ducimus.
                    </p>
                    <div class="imagesFooterAccueil">
                        <a href="http://www.iut-bm.univ-fcomte.fr/">
                            <img class="imgIutFooterAccueil" src="/assets/pictures/accueil/iutbmLogo.png" alt="C'est l'IUT !">
                        </a>
                        <a href="https://www.fetedelascience.fr/">
                            <img class="imgFdsFooterAccueil" src="/assets/pictures/accueil/fds.svg" alt="Vive la fête !">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </body>

<script src='/assets/js/bootstrap.js'></script>

</html>