        <div id="menuJeuxAccueilAll" class="menuJeuxAccueilAll">
            <div class="menuJeuxAccueil">
                <div class="presentationJeuxAcceuil">
                    <h1 class="titreJeuxAccueil">
                        Apprendre en s'amusant !
                    </h1>
                    <p class="paragrapheJeuxAcceuil">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda cum cumque hic laudantium maxime molestiae nemo, perferendis quia quisquam ratione similique unde ut veritatis vitae voluptate voluptates! Corporis cumque deleniti, hic ipsam iste libero maxime odit officiis, quam reiciendis sequi soluta, suscipit vero vitae!
                    </p>
                </div>
                <div class="jeuxAccueil">
                    <div class="jeu">
                        <img class="imagePlusCourtChemin" src="/assets/pictures/accueil/plusCourtCheminFond.png" alt="Où est le chemin le plus court !?">
                        <a href="/PlusCourtChemin"><img class="boutonPlusCourtChemin" src="/assets/pictures/accueil/boutonPlusCourtChemin.png" alt="VIENS JOUER !"></a>
                    </div>
                    <div class="jeu">
                        <img class="imagePlusCourtChemin" src="/assets/pictures/accueil/plusCourtCheminFond.png" alt="Où est le chemin le plus court !?">
                        <a href="https://www.youtube.com/?hl=fr&gl=FR"><img class="boutonPlusCourtChemin" src="/assets/pictures/accueil/boutonPlusCourtChemin.png" alt="VIENS JOUER !"></a>
                    </div>
                </div>
            </div>
        </div>