        <div id="presentationIutAcceuilAll" class="presentationIutAcceuilAll">
            <div class="presentationIutAcceuil">
                <div class="colGauchePresentationIuiAccueil">
                    <img src="/assets/pictures/accueil/iutFoule.png" alt="Holala ! Il y a du moule !">
                </div>
                <div class="colDroitePresentationIuiAccueil">
                    <h1 class="titrePresentationIutAccueil">
                        Notre IUT et la science
                    </h1>
                    <p class="paragraphePresentationIutAcceuil">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad illo ipsa itaque, laudantium maxime molestiae natus suscipit tempora. Aut dignissimos dolor, eaque magnam nesciunt qui quos sit suscipit vero voluptatibus.
                    </p>
                </div>
            </div>
        </div>