{% include 'NavBar.twig' %}

    <div class="container">
        <div class="present">
            <h1> Présentation</h1>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, ex hic molestias nemo nulla numquam
                officiis quasi sed. Ab aperiam cum dicta ea eius eligendi, eos fugit iure libero nemo non quae quam
                quibusdam quidem quis quo rem sapiente velit veritatis vero. Ad animi assumenda cum debitis delectus,
                deleniti earum error est eum expedita explicabo fugiat, ipsa magnam maxime modi natus, nulla officia
                officiis omnis quibusdam quod reiciendis sapiente veniam. Architecto assumenda blanditiis deleniti dolore,
                ex iste, laborum magni molestiae neque obcaecati provident rem, sed voluptatum? Aliquid corporis deserunt
                dolorum ipsa ipsum iusto maxime modi nihil nobis omnis, perspiciatis quia sit, tenetur veniam veritatis.
                Alias animi aperiam delectus dignissimos eius exercitationem in inventore iste laudantium, magni minima
                mollitia natus nemo odit, possimus praesentium recusandae reiciendis sequi sunt veritatis. Adipisci aperiam
                asperiores at commodi consequuntur corporis, debitis dicta ea, eaque ipsum laboriosam neque nihil odit
                officia, provident quam quod reiciendis reprehenderit repudiandae tempore totam ut veniam! Cupiditate
                doloremque ex exercitationem facere fugiat impedit ipsam ipsum libero maxime mollitia necessitatibus neque
                nihil, odio odit, omnis porro provident quaerat ratione, sunt suscipit velit vitae voluptatum? Atque aut
                consequatur consequuntur deleniti doloremque, doloribus eius expedita impedit minus numquam perferendis
                possimus repellat repudiandae sit, ut.
            </div>
        </div>

        <div class="cicleLink">
            <a href="/jeu1"><i class="fas fa-puzzle-piece"></i></a>
        </div>
    </div>

    {% include 'Footer.twig' %}