        <div id="objectifIutAcceuilAll" class="objectifIutAcceuilAll">
            <div class="objectifIutAccueil">
                <div class="presentationObjectifIutAcceuil">
                    <h1 class="titreObjectifIutAccueil">
                        Nos objectifs
                    </h1>
                    <p class="paragrapheObjectifIutAcceuil">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda cum cumque hic laudantium maxime molestiae nemo, perferendis quia quisquam ratione similique unde ut veritatis vitae voluptate voluptates! Corporis cumque deleniti, hic ipsam iste libero maxime odit officiis, quam reiciendis sequi soluta, suscipit vero vitae!
                    </p>
                </div>
                <div class="rectanglesObjectifIutAccueil">
                    <div class="rectangles">
                        <img class="imageRectangleAmuser" src="/assets/pictures/amuser.png" alt="Manette">
                        <h2 class="titreRectangles">Amuser</h2>
                        <p class="paragrapheRectangles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto corporis cum delectus dicta dolore eius exercitationem incidunt itaque laudantium placeat quae quam quod, sequi tenetur ullam voluptatum? A consectetur ea eum itaque nam perspiciatis vero.</p>
                    </div>
                    <div class="rectangles">
                        <img class="imageRectangleInterroger" src="/assets/pictures/interroger.png" alt="Point d'interrogation">
                        <h2 class="titreRectangles">Interroger</h2>
                        <p class="paragrapheRectangles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem dolores enim eos esse est eveniet explicabo illo impedit incidunt inventore iste laudantium magnam modi nesciunt odio officia officiis rem sequi similique totam, ullam, vel veniam?</p>
                    </div>
                    <div class="rectangles">
                        <img class="imageRectangleRenseigner" src="/assets/pictures/renseigner.png" alt="Bulle">
                        <h2 class="titreRectangles">Renseigner</h2>
                        <p class="paragrapheRectangles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores, aspernatur corporis, cum deleniti dolorem earum enim error est facere itaque laboriosam modi obcaecati optio, placeat praesentium quidem recusandae reprehenderit soluta sunt tempore veniam vitae voluptas?</p>
                    </div>
                </div>
            </div>
        </div>