    {% include 'NavBar.twig' %}

    <canvas id="myCanvas"></canvas>

    <!-- Integrer le formulaire pour valider le choix-->
    <form action="" method="post">
        <input type="text" id="isWin" name="time" value="">
        <button onclick=" validationFinale(playerPath, source, target,date)">Valider</button>
    </form>

    {% include 'Footer.twig' %}