        <div class="row presentationIutAccueil">
            <div class="presentationIutAccueil2">
                <div class="col-lg-5 col-sm-12">
                    <img class="imgIutFouleAccueil" src="/assets/pictures/iutFoule.png" alt="Holala il y a du monde à l'IUT !">
                </div>
                <div class="offset-lg-1 col-lg-6 col-sm-12">
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae et ipsam nam omnis reiciendis? Asperiores at consequuntur impedit ipsa nemo nostrum quae rem repellendus tenetur? Accusantium aliquam amet aspernatur, beatae consequuntur dignissimos dolore doloribus eaque eos esse et ex exercitationem facilis laudantium libero magni maxime minima minus neque nulla odio odit perspiciatis placeat provident quasi qui quidem quod recusandae reprehenderit saepe sapiente sint sunt tempora unde vel vero voluptatum? Explicabo iusto minus quo tenetur! A ab architecto at autem consequuntur corporis illum, impedit, iusto, molestiae officiis praesentium quam quas sed sint sunt? Alias earum officiis temporibus.</p>
                </div>
            </div>
        </div>