        <div class="zindex- accueilEnfant d-none d-lg-block d-xl-block">
            <img class="imgAccueilEnfant" src="/assets/pictures/accueilEnfant.png" alt="Ho ! Un enfant de la fête de la science qui s'amuse !">
        </div>

        <div class="row presentationFdsAccueil">
            <div class="presentationFdsAccueil2">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum expedita ipsum nesciunt praesentium sequi sunt ut? Architecto dicta explicabo in minus? Accusamus, atque doloremque dolores ducimus eos esse id ipsum iure, necessitatibus nisi porro provident ratione!</p>
                    </div>
                </div>
            </div>
        </div>