
        <div class="zindex- accueilEnfant d-none d-lg-block d-xl-block">
            <img class="imgAccueilEnfant" src="/assets/pictures/accueil/accueilEnfant.png" alt="Ho ! Un enfant de la fête de la science qui s'amuse !">
        </div>

        <div id="presentationFdsAccueilAll" class="presentationFdsAccueilAll">
            <div class="presentationFdsAccueil">
                <h1 class="titrePresentationFdsAccueil">
                    Lorem ipsum dolor sit amet, consectetur
                </h1>
                <p class="paragraphePresentationFdsAcceuil">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa, distinctio ducimus eius inventore itaque iure minus nisi, placeat qui temporibus ullam voluptatibus. Molestiae natus porro rem sit. Delectus expedita fugit harum sapiente vero. Asperiores, nobis.
                </p>
            </div>
        </div>