        </div>
    </div>

    <div class="footerAccueilAll">
        <div class="footerAccueil">
            <div class="container">
                <div class="container-fluid">
                    <p class="paragrapheFooterAccueil">
                        Site réalisé dans le cadre d'un projet tuteuré d'élèves de seconde année du DUT Informatique de l'IUT de Belfort-Montbéliard pour la Fête de la Science 2021. <br>

                    </p>
                    <div class="imagesFooterAccueil">
                        <a href="http://www.iut-bm.univ-fcomte.fr/">
                            <img class="imgIutFooterAccueil" src="/assets/pictures/accueil/iutbmLogo.png" alt="C'est l'IUT !">
                        </a>
                        <a href="https://www.fetedelascience.fr/">
                            <img class="imgFdsFooterAccueil" src="/assets/pictures/accueil/fds.svg" alt="Vive la fête !">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </body>

<script src='/assets/js/bootstrap.js'></script>

</html>