        <div id="menuJeuxAccueilAll" class="menuJeuxAccueilAll">
            <div class="menuJeuxAccueil">
                <div class="presentationJeuxAcceuil">
                    <h1 class="titreJeuxAccueil">
                        Apprendre en s'amusant !
                    </h1>
                    <p class="paragrapheJeuxAcceuil">
                        Le « problème du plus court chemin » et le « problème du sac à dos » sont deux problèmes largement connus et traités par les chercheurs en optimisation. Ce sont des problèmes d’optimisation combinatoire. Un problème est dit combinatoire lorsqu’il comprend un grand nombre de solutions et qu’on recherche la « meilleure » de ces solutions. Voici des jeux qui illustrent chacun de ces problèmes. A vous de jouer !
                    </p>
                </div>
                <div class="jeuxAccueil">
                    <div class="jeu">
                        <img class="imagePlusCourtChemin" src="/assets/pictures/accueil/plusCourtCheminFond.png" alt="Où est le chemin le plus court !?">
                        <a href="/ExplicationPlusCourtChemin"><img class="boutonPlusCourtChemin" src="/assets/pictures/accueil/boutonPlusCourtChemin.png" alt="VIENS JOUER !"></a>
                    </div>
                    <div class="jeu">
                        <img class="imageSacADos" src="/assets/pictures/accueil/sacADosFond.jpg" alt="Où est le chemin le plus court !?">
                        <a href="/ExplicationSacADos"><img class="boutonPlusCourtChemin" src="/assets/pictures/accueil/boutonPlusCourtChemin.png" alt="VIENS JOUER !"></a>
                    </div>
                </div>
            </div>
        </div>