        <div id="objectifIutAcceuilAll" class="objectifIutAcceuilAll">
            <div class="objectifIutAccueil">
                <div class="presentationObjectifIutAcceuil">
                    <h1 class="titreObjectifIutAccueil">
                        Recherche opérationnelle kézako
                    </h1>
                    <p class="paragrapheObjectifIutAcceuil">
                        La recherche opérationnelle est un domaine de la recherche à la frontière entre <strong>l’informatique</strong>, les<strong> mathématiques </strong>et <strong>l’économie</strong>. Elle fournit des modèles et des outils qui permettent d’<strong>analyser des situations complexes</strong> en vue d’aider les décideurs à faire les meilleurs choix possibles, à <strong>optimiser leur décision</strong>.
                        La recherche opérationnelle aide à résoudre des <strong>problèmes stratégiques</strong> (investir ou non, dimensionnement d’une flotte de véhicules…) et des<strong> problèmes opérationnels </strong> (ordonnancement de tâches, gestion des stocks).
                    </p>
                </div>
                <div class="presentationObjectifIutAcceuil">
                    <h1 class="titreObjectifIutAccueil">
                       Objectifs
                    </h1>

                </div>
                <div class="rectanglesObjectifIutAccueil">
                    <div class="rectangles">
                        <img class="imageRectangleAmuser" src="/assets/pictures/accueil/amuser.png" alt="Manette">
                        <h2 class="titreRectangles">Amuser</h2>
                        <p class="paragraphesRectangles"> Notre but sur le stand de la Fête de la Science et <strong>d'amuser</strong> les visiteurs </p>
                    </div>
                    <div class="rectangles">
                        <img class="imageRectangleInterroger" src="/assets/pictures/accueil/interroger.png" alt="Point d'interrogation">
                        <h2 class="titreRectangles">Interroger</h2>
                        <p class="paragraphesRectangles"> Il faut aussi <strong>interroger</strong> les joueurs afin de les sensibiliser aux problèmes classiques de recherche opérationnelle </p>
                    </div>
                    <div class="rectangles">
                        <img class="imageRectangleRenseigner" src="/assets/pictures/accueil/renseigner.png" alt="Bulle">
                        <h2 class="titreRectangles">Renseigner</h2>
                        <p class="paragraphesRectangles"> Il faut leur <strong>expliquer</strong> ce que sont ces problèmes et de leur montrer les solutions actuelles </p>
                    </div>
                </div>
            </div>
        </div>