        <div id="objectifIutAcceuilAll" class="objectifIutAcceuilAll">
            <div class="objectifIutAccueil">
                <div class="presentationObjectifIutAcceuil">
                    <h1 class="titreObjectifIutAccueil">
                        Recherche opérationnelle quésaco
                    </h1>
                    <p class="paragrapheObjectifIutAcceuil">
                        La recherche opérationnelle est un domaine de la recherche à la frontière entre l'<strong>informatique</strong>, les<strong> mathématiques </strong>et l'<strong>économie</strong>. Elle fournit des modèles et des outils qui permettent d’<strong>analyser des situations complexes</strong> en vue d’aider les décideurs à faire les meilleurs choix possibles, à <strong>optimiser leur décision</strong>.
                        La recherche opérationnelle aide à résoudre des <strong>problèmes stratégiques</strong> (investir ou non, dimensionnement d’une flotte de véhicules…) et des<strong> problèmes opérationnels </strong>(ordonnancement de tâches, gestion des stocks).
                    </p>
                </div>
                <div class="presentationObjectifIutAcceuil">
                    <h1 class="titreObjectifIutAccueil2">
                       Objectifs
                    </h1>
                </div>
                <div class="rectanglesObjectifIutAccueil">
                    <div class="rectangles">
                        <img class="imageRectangleAmuser" src="/assets/pictures/accueil/amuser.png" alt="Manette">
                        <h2 class="titreRectangles">Amuser</h2>
                        <p class="paragraphesRectangles">Science peut rimer avec amusement, et notre but est de ravir les petits comme les grands.</p>
                    </div>
                    <div class="rectangles">
                        <img class="imageRectangleInterroger" src="/assets/pictures/accueil/interroger.png" alt="Point d'interrogation">
                        <h2 class="titreRectangles">Interroger</h2>
                        <p class="paragraphesRectangles">Nous voulons interroger les joueurs ! Parce que la science est au coeur de notre quotidien, on veut que tout le monde puisse apprendre en s'amusant !</p>
                    </div>
                    <div class="rectangles">
                        <img class="imageRectangleRenseigner" src="/assets/pictures/accueil/renseigner.png" alt="Bulle">
                        <h2 class="titreRectangles">Renseigner</h2>
                        <p class="paragraphesRectangles">Apprendre c'est bien, comprendre c'est mieux ! Vous trouverez des explications et des exemples concrets pour chacun de nos jeux !</p>
                    </div>
                </div>
            </div>
        </div>