
        <div class="zindex- accueilEnfant d-none d-lg-block d-xl-block">
            <img class="imgAccueilEnfant" src="/assets/pictures/accueil/accueilEnfant.jpg" alt="Ho ! Un enfant de la fête de la science qui s'amuse !">
        </div>

        <div id="presentationFdsAccueilAll" class="presentationFdsAccueilAll">
            <div class="presentationFdsAccueil">
                <h1 class="titrePresentationFdsAccueil">
                    Bienvenue à la Fête de le Science !
                </h1>
                <p class="paragraphePresentationFdsAcceuil">
                    La Fête de la Science est un évènement annuel qui a lieu partout en France dont le but est de faire<strong> découvrir les enjeux scientifiques actuels</strong>. Les petits comme les grands pourront participer à des <strong> activités ludiques</strong> pour découvrir des problématiques auxquelles font face les scientifiques.
                </p>
            </div>
        </div>