      <div id="presentationIutAcceuilAll" class="presentationIutAcceuilAll">
            <div class="presentationIutAcceuil">
                <div class="colGauchePresentationIuiAccueil">
                    <img src="/assets/pictures/accueil/iutFoule.png" alt="Holala ! Il y a du moule !">
                </div>
                <div class="colDroitePresentationIuiAccueil">
                    <h1 class="titrePresentationIutAccueil">
                        Notre IUT et la science !
                    </h1>
                    <p class="paragraphePresentationIutAcceuil">
                        Chaque année notre IUT s’investit pour la fête de la Science. Vous trouverez sur place une multitude de stands tenus par des chercheurs et des professeurs d’université afin de vous parler des<strong> problèmes scientifiques</strong>  que l’on rencontre actuellement, le tout de manière <strong>ludique et accessible</strong>. Vous aurez la possibilité de participer à des ateliers sur des supports numériques et matériels qui donneront un aspect concret à ces problèmes. L’évènement est aussi bien adapté pour les enfants que pour les adultes, il est donc <strong> conseillé de venir en famille !</strong>
                    </p>
                </div>
            </div>
        </div>