<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style/styleJeuPCC.css">
</head>
<body>

    <div class="IUJeu">
        <button onclick="valider(playerPath,source,target)">Valider</button>
        <button onclick="recommencer(source,playerPath)">Recommencer</button>
    </div>

<img src="/assets/pictures/plusCourtChemin/astronaut.gif" alt="astronot" id="astronot">

<img src="/assets/pictures/plusCourtChemin/planete1.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete2.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete3.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete4.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete5.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete6.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete7.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete8.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete9.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete10.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete11.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete12.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete13.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete14.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete15.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete16.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete17.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/planete18.png" alt="" class="planete point">
<img src="/assets/pictures/plusCourtChemin/terre.png" alt="" class="planete point">

    <div class="leCanvas">
        <canvas id="myCanvas"></canvas>
    </div>


</body>

<script src="/assets/js/Graph.class.js"></script>
<script src="/assets/js/Dijkstra.js"></script>
<script src="/assets/js/DrawGraph.js"></script>
<script src="/assets/js/GraphADixNoeud.js"></script>
<script src="/assets/js/JeuDuPlusCourtChemin.js"></script>

<script>
    let date = new Date();
    let source, target;
    source = 0
    target = 18

    console.log("azy t'as compris : "+target)

    saveGameInProgress(graph, source, target, playerPath);
    drawSaveGameInProgress(graph, source, target);
</script>
</html>