
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');


canvas{
    position: absolute;
}
body,html{
    padding: 0;
    margin: 0;
    overflow: hidden !important;
}

.planete{
    display: none   ;
}

#btn-fini{
    height: 50px;
    width: 200px;
    border-radius: 5%;
    border: 3px orange solid;
    font-family: 'RocknRoll One',sans-serif;
    position: absolute;
    top: 10%;
    background-color:#FFBF00;
    right: 10%;
    color: black;

    text-align: center;
    padding-top: 25px;
    transition: all 0.5s ease;
}
#btn-fini:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.point{
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.point:hover{
    background-color: brown;
}
.planete{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}



#astronaute{
    position: absolute;
    top: 10px;
    left: 110px;
    width: 200px;
    height: 200px;
    transition: all 0.5s ease;
}

#astronaute:hover{
    transform: scaleX(-1);
}

