<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Fête de la science !</title>
    <link href="/assets/style/bootstrap.css" rel="stylesheet">
    <link href="/assets/style/styleCarouselPCC.css" rel="stylesheet">
</head>

<body>

    <div>
        <img class="imgFondPCC" src="/assets/pictures/plusCourtChemin/fondCarrouselPCC.jpg" alt="Le fond...">
    </div>

    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item containerCarousel active">
                <h1 class="titrePCC">Problème du plus court chemin</h1>
                <img class="imgAstronauteLecture" src="/assets/pictures/plusCourtChemin/astronauteLecture.png" alt="Ho il lit !">
                <h2>Explication Algorithme</h2>
                <p class="paragraphes">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid amet autem doloribus
                    inventore laborum laudantium, magnam nisi nobis obcaecati, odit porro possimus quod, rem saepe
                    voluptate? A doloribus eaque fugiat incidunt iste libero molestiae, nesciunt nulla perferendis quam quia
                    repellat sed similique voluptate voluptatibus. Accusamus delectus earum enim fugiat ipsam iure obcaecati
                    reprehenderit. Delectus, incidunt, optio! Animi blanditiis consequatur corporis dignissimos doloremque
                    doloribus eos exercitationem fugit, hic perferendis quaerat quibusdam quis repellendus reprehenderit
                    saepe sunt tempora voluptate, voluptates!</p>
            </div>
            <div class="carousel-item containerCarousel">
                <img class="imgMaps gauche" src="/assets/pictures/plusCourtChemin/mapsPCC.png" alt="Cool un bowling !">

                <h2 class="">Utilisations de l'algorithme</h2>
                <p class="paragraphes">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aut autem eius excepturi
                    molestiae molestias quisquam quod ratione repudiandae? A adipisci amet architecto, aut consectetur
                    consequatur cupiditate debitis dicta, eaque eligendi error ex inventore laborum optio qui, quis quos
                    sint unde? Accusamus exercitationem nisi quibusdam quidem unde. Ab exercitationem expedita fugiat
                    harum itaque natus perspiciatis quas quo sed voluptatum? Aspernatur debitis doloremque dolorum eaque
                    eveniet excepturi id, porro quibusdam. Beatae consectetur dolores hic laudantium nulla, omnis
                    praesentium suscipit veritatis?</p>
            </div>
            <div class="carousel-item containerCarousel">
                <h2>Règles :</h2>
                <p class="paragraphes">Lorem ipsum dolor sit amet, consectet ur adipisicing elit. Animi atque blanditiis debitis distinctio eius
                    explicabo laborum, laudantium nulla, pariatur porro quam quasi repellendus sapiente sit suscipit totam
                    voluptas voluptate voluptatem voluptates voluptatibus. Itaque mollitia perspiciatis rerum sed. Molestiae
                    officiis quae saepe soluta totam. Aliquid modi, mollitia perferendis quia quis temporibus. Aliquid
                    doloribus laborum molestiae praesentium provident quis reiciendis suscipit? Distinctio est, neque omnis
                    perferendis quod reprehenderit sed veniam voluptate. Ad aut corporis dolor dolorem eum fugiat impedit
                    laborum maxime vitae!</p>
                <img src="/assets/pictures/plusCourtChemin/" alt="">
            </div>
            <div class="carousel-item containerCarousel">
                <img class="imgAstronauteFusee" src="/assets/pictures/plusCourtChemin/astronauteFusee.png" alt="Ho il vole !">
                <h2>C'est parti !</h2>
                <form action="" method="post">
                <label for="nom">Entrez votre nom</label>
                <input type="text" name="nom">
                    <br>
                <label for="age">Entrez votre age</label>
                <input type="text" name="age">
                <input type="hidden" name="time">
                <SELECT name="difficulte" size="1">
                    <OPTION>Facile</OPTION>
                    <OPTION>Moyen</OPTION>
                    <OPTION>Difficile</OPTION>
                </SELECT>
                    <button>Submit</button>
                </form>

                <img src="/assets/pictures/plusCourtChemin/" alt="">

            </div>
        </div>
        <img class="carousel-control-prev imgBouton boutonGauche" data-bs-target="#myCarousel" data-bs-slide="prev"
             src="/assets/pictures/plusCourtChemin/boutonGauche.png" alt="Bouton gauche !">
        <img class="carousel-control-next imgBouton boutonDroite" data-bs-target="#myCarousel" data-bs-slide="next"
             src="/assets/pictures/plusCourtChemin/boutonDroite.png" alt="Bouton droit !">
    </div>

    <script src="/assets/js/bootstrap.js"></script>

</body>
</html>