<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style/2/styleJeuSAD.css">
</head>



<body>
    <div>
        <img class="imgFondSAD" src="/assets/pictures/accueil/sacADosFond.jpg" alt="Le fond...">
    </div>

    <div class="container">
        <div class="container-fluid">
            <div class="row customMenu">
                <div id="menuResto" class="menuRestaurant col-6">

                </div>
                <div class="col-1"></div>
                <div class="recuRestaurant col-5">
                    <form action="/JeuSacADos" method="post">
                        <input type="hidden" id="isWin" name="time" value="">
                        <input type="hidden" id="name" name="nom" value="{{ nom }}">
                        <input type="hidden" id="age" name="age" value="{{ age }}">
                        <input type="hidden" id="difficulte" name="difficulte" value="{{ difficulte }}">
                        <button id="buttonValidate" style="display: none" > register</button>
                    </form>
                    <div class="timer">
                        <p >Score : </p>
                        <p id="textMin"></p>
                    </div>
                    <button id="Valider">Valider</button>
                    <button id="Efface">Effacer</button>
                    <div id="boxSolution" hidden class="boxSol"></div>
                    <div id="boxPiece" class="box"></div>

                    <p id="total"></p>
                    <p id="poids"></p>

                </div>
            </div>
        </div>
    </div>


</body>
<script src="/assets/js/time.js"></script>
<script src="/assets/js/2/Container.class.js"></script>
<script src="/assets/js/2/Sac.class.js"></script>
<script src="/assets/js/2/survieObject.class.js"></script>
<script src="/assets/js/2/algoDeResolution.js"></script>
<script src="/assets/js/2/JeuDuSacADos.js"></script>

<script>




    console.log(menu.getContainer())
    let doc2 = document.getElementById("menuResto")



    for (let i in menu.getContainer()){

        console.log(menu.getContainer()[i].nbr)

        //a mettre dans la divQuantite
        let qnt = document.createElement("p")
        qnt.innerText = "Quantite: " +menu.getContainer()[i].nbr

        //a mettre a l'interieur dans la divImage
        let img = document.createElement("img")
        img.src = 'assets/pictures/sacADos/'+i+'.png'
        img.setAttribute("class",i)
        img.setAttribute("id",i+"ImageToPush")

        //a mettre a l'interieur de divValeur
        let valeur = document.createElement("p")
        valeur.innerText ="Valeur: " + menu.getContainer()[i].object.getWeight()

        //a mettre a l'interieur de divPrix
        let prix = document.createElement("p")
        prix.innerText = "Prix: " + menu.getContainer()[i].object.getValue()


        //difinition de la div row
        let divRow = document.createElement("div")
        divRow.setAttribute("class","row ")
        divRow.setAttribute("id", i+"Ligne")


        //postiotionnement de la quantité
        let divQuantite = document.createElement("div")
        divQuantite.setAttribute("class","col-3")
        divQuantite.appendChild(qnt)

        //positionnement de l'image
        let divImage = document.createElement("div")
        divImage.setAttribute("class","col-3")

        divImage.appendChild(img)

        //positionnement de la valeur
        let divValeur = document.createElement("div")
        divValeur.setAttribute("class","col-3")
        divValeur.appendChild(valeur)

        //postiotionnement du prix
        let divPrix = document.createElement("div")
        divPrix.setAttribute("class","col-3")
        divPrix.appendChild(prix)




        divRow.appendChild(divQuantite)
        divRow.appendChild(divImage)
        divRow.appendChild(divValeur)
        divRow.appendChild(divPrix)

        doc2.appendChild(divRow)


        //ajout d'un event listener
        divRow.addEventListener("click",() =>{
            test(i)
        })



    }



    function test(i){

        if(sacADosPlayer.addInSacPlayer(menu.getContainer()[i].object) === 0 ) {


            total()
            let init = menu.getContainer()[i].initalNbr
            let act = menu.getContainer()[i].nbr
            let value = menu.getContainer()[i].object.getValue()
            menu.remove(i)

            if (document.getElementById(i + "Recu") == null) {
                let ligneRecu = document.createElement("p")
                ligneRecu.innerText = i + " x1 ..... " + value + "€"
                ligneRecu.setAttribute("id", i + "Recu")
                document.getElementById("boxPiece").appendChild(ligneRecu)
            } else {
                document.getElementById(i + "Recu").innerText = i + " x" + ((init - act) + 1) + " ..... " + (((init - act) + 1) * value) + "€"
            }


            if (menu.getContainer()[i].nbr <= 0) {
                document.getElementById(i + "Ligne").style.display = "none"
            }

        }
    }


    document.getElementById("Efface").addEventListener('click',() => {
        sacADosPlayer.clearSac();
        document.getElementById("boxPiece").innerHTML = '';
        for(let i in menu.getContainer()){
            menu.getContainer()[i].nbr = menu.getContainer()[i].initalNbr;
            console.log(menu.getContainer()[i])
            document.getElementById(i+"Ligne").style.display = ""
        }
    });

    function total(){
        document.getElementById("poids").innerText ="Poids : "+ sacADosPlayer.getSacWeight() +  "€ sur "+maxWeight +"€"
        document.getElementById("total").innerText = sacADosPlayer.getSacValue() + "kCal"
    }



</script>
</html>